* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 2vh;
}

:root {
    --BG-Color : blueviolet;
    --Font-Para : rgb(43, 37, 37);
    --Font-Heading : rgb(111, 0, 255);
    --Font-Heading_2 : rgb(0, 119, 255);
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    width: 100vw;
    height: auto;
}

::-webkit-scrollbar {
    background-color: var(--BG-Color);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, var(--BG-Color), black);
    border-radius: 10px;
}


/*Header Styles*/

header {
    background-color: rgb(111, 0, 255);
    height: 10vh;
    width: 100%;
    color: var(--Font-Heading_2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

header #title {
    text-shadow: 0 0 3px black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 30%;
    background: rgba(255, 255, 255, 0.186);
    border-radius: 10px;
    border: 2px solid blueviolet;
    margin-left: 10px;

}

header #title span {
    font-size: 2.8rem;
}

header nav {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header nav ul li {
    font-size: 1.5rem;
    font-weight: 200;
    padding: 5px 10px;
    letter-spacing: 2px;
    color: white;
    list-style: none;
    text-transform: uppercase;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
    border: 2px solid white;
    cursor: pointer;
}

header nav ul li:hover {
    background-color: rgba(255, 255, 255, 0.594);
    color: #222222;
    transition: all 0.5s;
}


/*Main Styles*/

/*Intro Section*/

#intro {
    height: 500px;
    width: 100vw;
    background: var(--BG-Color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#intro .introContent {
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#intro .introContent .TextContent {
    height: 80%;
    width: 90%;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.199);
    backdrop-filter: blur(3px);
}

#intro .introContent .TextContent p {
    /* background-color: red; */
    height: 70%;
    width: 100%;
    padding: 5% 5%;
}

#intro .introContent .TextContent p span:nth-child(1){
    font-size: 6rem;
    font-weight: 500;
    margin-right: 20px;
}

#intro .introContent .TextContent p span:nth-child(2){
    font-size: 4rem;
    color: rgb(46, 46, 240);
}

#intro .introContent .TextContent p span:nth-child(3){
    font-size: 4rem;
    display: block;
    margin: 10px 0;
    color: blue;
}

#intro .introContent .TextContent p span:nth-child(4){
    font-size: 2.2rem;
    font-weight: 400;
    display: block;
}

#intro .introContent .TextContent p span:nth-child(5){
    font-size: 1.2rem;
    display: block;
}

#intro .introContent .TextContent #btns {
    /* background-color: red; */
    height: 30%;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#intro .introContent .TextContent #btns span {
    font-size: 3rem;
    color: #22222290;
}

#intro .introContent .TextContent #btns button {
    height: 50%;
    width: 30%;
    border-radius: 84% 16% 73% 27% / 42% 75% 25% 58% ;
    border: none;
    background-color: rgb(255, 149, 0);
    font-size: 2.2rem;
    letter-spacing: 3px;
    cursor: pointer;
}

#intro .introContent .TextContent #btns button:hover {
    opacity: 0.8;
}

#intro .img {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

#icons {
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: red; */
    height: 100%;
    width: 100%;
}

#icons img {
    height: 10%;
    position: absolute;
}

#icons img:nth-child(1){
   top: 35%;
   left: 10%;
}

#icons img:nth-child(2){
    left: 10%;
    top: 15%;
}

#icons img:nth-child(3){
    left: 30%;
    top: 5%;
}

#icons img:nth-child(4){
    right: 30%;
    top: 5%;
}

#icons img:nth-child(5){
    right: 10%;
    top: 15%;
}

#icons img:nth-child(6){
    top: 35%;
    right: 10%;
}

/*About Section styles*/

#about-1,
#about-2,
#about-3 {
    height: 500px;
    width: 100vw;
    background-color: var(--BG-Color);
    border-top: 3px solid white;
}

#about-1 h2 {
    background: rgba(245, 245, 245, 0.231);
    backdrop-filter: blur(5px);
    font-size: 4rem;
    display: inline-block;
    padding: 15px;
    border: 1px solid white;
    margin: 1% 2%;
    border-radius: 80% 20% 52% 48% / 59% 41% 59% 41% ;
    font-weight: 300;
}

#about-1 .AboutContent,
#about-2 .AboutContent,
#about-3 .AboutContent {
    height: 70%;
    width: 90%;
    background-color: rgba(137, 43, 226, 0);
    backdrop-filter: blur(5px);
    border: 2px solid white;
    margin: 0 auto;
    border-radius: 5px;
}

#about-2 .AboutContent,
#about-3 .AboutContent {
    margin-top: 5%;
}

.AboutContent h3 {
    font-size: 2.5rem;
    font-weight: 300;
    text-decoration: underline;
    margin: 1%;
    background: rgba(255, 255, 255, 0.169);
    display: inline-block;
    padding: 1%;
    border-radius: 5px;
    border: 1px solid white;
}

.AboutContent div {
    /* background-color: red; */
    height: 70%;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.AboutContent div p {
    font-size: 1.8rem;
    /* background-color: blue; */
    height: 80%;
    width: 60%;
    text-align: center;
}

.AboutContent div p:nth-child(1){
    border-right: 3px solid black;
    padding-right: 3%;
}

.AboutContent div p:nth-child(2){
    border-left: 3px solid black;
    padding-left: 3%;
}

.AboutContent div p span {
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: black;
}

.AboutContent div img {
    height: 100%;
}


/*Skills section styles*/

#skills {
    height: 600px;
    width: 100vw;
    background: linear-gradient(to bottom, var(--BG-Color), rgb(57, 3, 91));
    display: flex;
    justify-content: center;
    align-items: center;
}

#skills .container {
    height: 75%;
    width: 90%;
    position: relative;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
}

#skills .container .block {
    border: 2px solid black;
    height: 40%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    background: conic-gradient(cyan 0% 0%, transparent 0% 100%);
}

#skills .container .block span {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
    background: rgb(87, 0, 163);
    border-radius: 50%;
    border: 2px solid black;
    font-size: 2.3rem;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

#skills .container .block span::before {
    content: "";
    position: absolute;
    top: -7.5%;
    left: -7.5%;
    height: 115%;
    width: 115%;
    border-radius: 50%;
}

#skills .container .block span::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0%;
    height: 30%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.287);
    backdrop-filter: blur(5px);
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 1.9rem;
}

#skills .container .block:nth-child(1) span::after {
    content: "HTML";
}
#skills .container .block:nth-child(2) span::after {
    content: "CSS";
}
#skills .container .block:nth-child(3) span::after {
    content: "BootStrap";
}
#skills .container .block:nth-child(4) span::after {
    content: "SASS";
}
#skills .container .block:nth-child(5) span::after {
    content: "JS";
}
#skills .container .block:nth-child(6) span::after {
    content: "MySQL";
}
#skills .container .block:nth-child(7) span::after {
    content: "PHP";
}
#skills .container .block:nth-child(8) span::after {
    content: "JAVA";
}
#skills .container .block:nth-child(9) span::after {
    content: "C";
}
#skills .container .block:nth-child(10) span::after {
    content: "Python";
}
#skills .container .block:nth-child(11) span::after {
    content: "C++";
}
#skills .container .block:nth-child(12) span::after {
    content: "React";
}
