* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --BG-Color : blueviolet;
    --Font-Para : rgb(43, 37, 37);
    --Font-Heading : rgb(111, 0, 255);
    --Font-Heading_2 : rgb(0, 119, 255);
    --Top-ThemeColor : rgb(111, 0, 255);
    --Bottom-ThemeColor : rgb(99, 7, 105);
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    scroll-padding-top: 50px;
    font-size: 16px;
}

body {
    width: 100vw;
    height: auto;
}

::-webkit-scrollbar {
    background-color: var(--BG-Color);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, var(--BG-Color), red);
    border-radius: 10px;
    border-bottom: 5px solid red;
}


/*Header Styles Responsive Done*/

header {
    background-color: rgb(111, 0, 255);
    height: 10vh;
    width: 100%;
    color: var(--Font-Heading_2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

header #title {
    text-shadow: 0 0 3px black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 30%;
    background: rgba(255, 255, 255, 0.186);
    border-radius: 10px;
    border: 2px solid blueviolet;
    margin-left: 10px;
}

header #title span {
    font-size: 2rem;
}

header nav {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header nav ul li {
    font-size: 1.2rem;
    font-weight: 200;
    padding: 5px 10px;
    letter-spacing: 2px;
    color: white;
    list-style: none;
    text-transform: uppercase;
    background: rgba( 255, 255, 255, 0.15 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.5px );
    -webkit-backdrop-filter: blur( 6.5px );
    border-radius: 10px;
    border: 2px solid white;
    cursor: pointer;
}

header nav ul li:hover {
    background-color: rgba(255, 255, 255, 0.594);
    color: #222222;
    transition: all 0.5s;
}


@media (max-width: 767px){
    header {
        justify-content: space-around;
        flex-direction: column;
        height: 150px;
    }

    header #title {
        width: 90%;
    }

    header nav {
        width: 100%;
        height: 60%;
    }

    header nav ul {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    header nav ul li {
        font-size: 1rem;
        margin-top: 10px;
    }
}


/*Main Styles*/

/*Intro Section*/

#intro {
    height: auto;
    width: 100vw;
    background: var(--BG-Color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#intro .introContent {
    height: 500px;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#intro .introContent .TextContent {
    height: 80%;
    width: 90%;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.199);
    backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#intro .introContent .TextContent p {
    /* background-color: red; */
    height: 350px;
    width: 100%;
    padding: 5% 5%;
}

#intro .introContent .TextContent p span:nth-child(1){
    font-size: 6rem;
    font-weight: 500;
    margin-right: 20px;
}

#intro .introContent .TextContent p span:nth-child(2){
    font-size: 4rem;
    color: rgb(46, 46, 240);
}

#intro .introContent .TextContent p span:nth-child(3){
    font-size: 4rem;
    display: block;
    margin: 10px 0;
    color: blue;
}

#intro .introContent .TextContent p span:nth-child(4){
    font-size: 2.2rem;
    font-weight: 400;
    display: block;
}

#intro .introContent .TextContent p span:nth-child(5){
    font-size: 1.2rem;
    display: block;
}

#intro .introContent .TextContent #btns {
    /* background-color: red; */
    height: 50px;
    width: 90%;
    font-size: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#intro .introContent .TextContent #btns span {
    font-size: 2rem;
    color: #22222290;
}

#intro .introContent .TextContent #btns a {
    height: 40px;
    width: 25%;
    border-radius: 84% 16% 73% 27% / 42% 75% 25% 58% ;
    border: none;
    background-color: rgb(255, 149, 0);
    font-size: 2rem;
    letter-spacing: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

#intro .introContent .TextContent #btns a:hover {
    opacity: 0.8;
}

#intro .img {
    height: 500px;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
}

#intro img {
    height: 80%;
}

#icons {
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: red; */
    height: 100%;
    width: 100%;
}

#icons img {
    height: 10%;
    position: absolute;
}

#icons img:nth-child(1){
   top: 35%;
   left: 10%;
}

#icons img:nth-child(2){
    left: 10%;
    top: 15%;
}

#icons img:nth-child(3){
    left: 30%;
    top: 5%;
}

#icons img:nth-child(4){
    right: 30%;
    top: 5%;
}

#icons img:nth-child(5){
    right: 10%;
    top: 15%;
}

#icons img:nth-child(6){
    top: 35%;
    right: 10%;
}


@media (max-width: 767px){
    #intro {
        flex-direction: column;
    }

    #intro .introContent {
        height: 300px;
        width: 95%;
    }

    #intro .introContent .TextContent p span:nth-child(1){
        font-size: 3rem;
    }

    #intro .introContent .TextContent p span:nth-child(2){
        font-size: 2rem;
    }

    #intro .introContent .TextContent p span:nth-child(3){
        font-size: 2rem;
    }

    #intro .introContent .TextContent p span:nth-child(4){
        font-size: 1.1rem;
    }

    #intro .introContent .TextContent p span:nth-child(5){
        font-size: 0.8rem;
    }

    #intro .introContent .TextContent #btns {
        height: 30px;
        width: 90%;
        margin-bottom: 20px;
    }
    
    #intro .introContent .TextContent #btns span {
        font-size: 1rem;
    }

    #intro .introContent .TextContent #btns a {
        height: 25px;
        font-size: 1rem;
    }

    #intro .img {
        height: 300px;
        width: 90%;
    }

    #icons img:nth-child(1){
        height: 8%;
    }
}

/*About Section styles*/

#about-1,
#about-2,
#about-3 {
    height: 600px;
    width: 100vw;
    background-color: var(--BG-Color);
    border-top: 3px solid white;
}

#about-1 h2 {
    background: rgba(245, 245, 245, 0.231);
    backdrop-filter: blur(5px);
    font-size: 2.5rem;
    display: inline-block;
    padding: 15px;
    border: 1px solid white;
    margin: 1% 2%;
    border-radius: 80% 20% 52% 48% / 59% 41% 59% 41% ;
    font-weight: 300;
}

#about-1 .AboutContent,
#about-2 .AboutContent,
#about-3 .AboutContent {
    height: 70%;
    width: 90%;
    background-color: rgba(137, 43, 226, 0);
    backdrop-filter: blur(5px);
    border: 2px solid white;
    margin: 0 auto;
    border-radius: 5px;
}

#about-2 .AboutContent,
#about-3 .AboutContent {
    margin-top: 5%;
}

.AboutContent h3 {
    font-size: 2.5rem;
    font-weight: 300;
    text-decoration: underline;
    margin: 1%;
    background: rgba(255, 255, 255, 0.169);
    display: inline-block;
    padding: 1%;
    border-radius: 5px;
    border: 1px solid white;
}

.AboutContent div {
    /* background-color: red; */
    height: 70%;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.AboutContent div p {
    font-size: 1.8rem;
    /* background-color: blue; */
    height: 80%;
    width: 60%;
    text-align: center;
}

.AboutContent div p:nth-child(1){
    border-right: 3px solid black;
    padding-right: 3%;
}

.AboutContent div p:nth-child(2){
    border-left: 3px solid black;
    padding-left: 3%;
}

.AboutContent div p span {
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-color: black;
}

.AboutContent div img {
    height: 100%;
}


@media (max-width: 767px){
    #about-1 h2 {
        font-size: 2rem;
    }

    #about-1 {
        height: 600px;
    }

    #about-2,
    #about-3 {
        height: 500px;
    }

    .AboutContent h3 {
        font-size: 1.5rem;
    }  
    
    .AboutContent div {
        flex-direction: column;
        justify-content: flex-start;
    }

    .AboutContent div p {
        border: none;
        font-size: 1rem;
        width: 100%;
    }

    .AboutContent div p span {
        font-size: 1.1rem;
    }

    .AboutContent div p:nth-child(1),
    .AboutContent div p:nth-child(2) {
        border: none;
    }

    .AboutContent div img {
        height: 80%;
    }

    #about-2 .AboutContent,
    #about-3 .AboutContent {
        height: 90%;
        width: 90%;
    }

    #about-1 .AboutContent {
        height: 75%;
        width: 90%;
        margin-top: 5%;
    }
}

/*Skills section styles*/

#skills {
    height: auto;
    width: 100vw;
    background: linear-gradient(to bottom, var(--BG-Color), rgb(57, 3, 91));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* overflow: hidden; */
}

#skills h2 {
    background-color: rgba(255, 255, 255, 0.332);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    padding: 1% 4%;
    font-size: 2rem;
    position: relative;
    border: 2px solid white;
    letter-spacing: 3px;
    margin: 5% auto 0;
}

#skills h2::after {
    position: absolute;
    content: "";
    top: 50%;
    left: -200%;
    background: white;
    height: 2px;
    width: 200%;
}

#skills h2::before {
    position: absolute;
    content: "";
    top: 50%;
    right: -200%;
    background: white;
    height: 2px;
    width: 200%;
}

#skills .container {
    height: 500px;
    width: 90%;
    position: relative;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    margin: 0 auto 5% auto;
}

#skills .container .block {
    border: 2px solid black;
    height: 35%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    background: conic-gradient(cyan 0% 0%, transparent 0% 100%);
}

#skills .container .block span {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 90%;
    background: rgb(87, 0, 163);
    border-radius: 50%;
    border: 2px solid black;
    font-size: 2.3rem;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

#skills .container .block span::before {
    content: "";
    position: absolute;
    top: -7.5%;
    left: -7.5%;
    height: 115%;
    width: 115%;
    border-radius: 50%;
}

#skills .container .block span::after {
    content: "";
    position: absolute;
    top: 101%;
    left: 0%;
    height: 30%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.287);
    backdrop-filter: blur(5px);
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    letter-spacing: 3px;
    font-weight: 700;
    font-size: 1.7rem;
}

#skills .container .block:nth-child(1) span::after {
    content: "HTML";
}
#skills .container .block:nth-child(2) span::after {
    content: "CSS";
}
#skills .container .block:nth-child(3) span::after {
    content: "BootStrap";
}
#skills .container .block:nth-child(4) span::after {
    content: "SASS";
}
#skills .container .block:nth-child(5) span::after {
    content: "JS";
}
#skills .container .block:nth-child(6) span::after {
    content: "MySQL";
}
#skills .container .block:nth-child(7) span::after {
    content: "PHP";
}
#skills .container .block:nth-child(8) span::after {
    content: "JAVA";
}
#skills .container .block:nth-child(9) span::after {
    content: "C";
}
#skills .container .block:nth-child(10) span::after {
    content: "Python";
}
#skills .container .block:nth-child(11) span::after {
    content: "GSAP";
}
#skills .container .block:nth-child(12) span::after {
    content: "React";
}


@media (max-width: 767px){
    #skills .container {
        height: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        margin-bottom: 50px;
    }

    #skills .container .block {
        height: 100px;
        width: 100px;
        margin: 0 auto;
        margin-top: 60px;
    }

    #skills .container .block:nth-child(1),
    #skills .container .block:nth-child(2),
    #skills .container .block:nth-child(3) {
        margin-top: 50px;
    }

    #skills .container .block span::after {
        font-size: 0.75rem;
    }

    #skills .container .block span {
        font-size: 1.5rem;
    }
}



/*projects section styles Responsive Done*/

#projects-Sec-1 {
    height: 500px;
    width: 100vw;
    background-color: rgb(57, 3, 91);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#projects-Sec-1 h2 {
    height: 50px;
    width: 30%;
    background-color: rgb(99, 7, 105);
    border-radius: 10px;
    border: 2px solid white;
    text-align: center;
    align-content: center;
    color: white;
    backdrop-filter: blur(5px);
    font-size: 2rem;
    letter-spacing: 2px;
}

#projects-Sec-1 .container {
    height: 70%;
    width: 95%;
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.152);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

#projects-Sec-1 .container span:nth-child(1),
#projects-Sec-1 .container span:nth-child(2) {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: bold;
}

#projects-Sec-1 .container span:nth-child(1) {
    position: absolute;
    top: -1%;
    left: 25%;
    height: 20%;
    width: 15%;
    background-color: rgb(57, 3, 91);
    border-radius: 50px 50px 10px 10px;
    border: 1px solid white;
    border-top: none;
}

#projects-Sec-1 .container span:nth-child(2) {
    position: absolute;
    bottom: -1%;
    right: 25%;
    height: 20%;
    width: 15%;
    background-color: rgb(57, 3, 91);
    border-radius: 10px 10px 50px 50px;
    border: 1px solid white;
    border-bottom: none;
}

#projects-Sec-1 .container span:nth-child(3) {
    position: absolute;
    bottom: 0%;
    right: 51%;
    height: 110%;
    width: 1%;
    background-color: rgb(57, 3, 91);
    transform: rotate(-50deg) translate(0, 5%);
    border-left: 1px solid white;
    border-right: 1px solid white;
    z-index: -1;
}

#projects-Sec-1 .container #Container-1,
#projects-Sec-1 .container #Container-2 {
    position: absolute;
    left: 0;
    height: 50%;
    width: 100%;
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#projects-Sec-1 .container #Container-1 {
    top: 0;
}

#projects-Sec-1 .container #Container-2 {
    top: 50%;
}

#projects-Sec-1 .container #Container-1 a,
#projects-Sec-1 .container #Container-2 a {
    height: 80%;
    width: 20%;
    margin: 0 1%;
    border-radius: 10px;
}


#projects-Sec-1 .container #Container-1 a img,
#projects-Sec-1 .container #Container-2 a img {
    height: 100%;
    width: 100%;
}

#projects-Sec-1 .container #Container-1 p,
#projects-Sec-1 .container #Container-2 p {
    width: 55%;
    height: 80%;
    background-color: rgb(57, 3, 91);
    margin: 0 1%;
    border-radius: 10px;
    color: white;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-align: justify;
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-transform: uppercase; */
}

#projects-Sec-1 .container #Container-1 p {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%);
    padding: 0 1% 0 15%;
}

#projects-Sec-1 .container #Container-2 p {
    clip-path: polygon(0 0, 75% 0, 100% 100%, 0 100%);
    padding: 0 15% 0 1%;
}

#Container-1 a:hover {
    background-color: red;
}

#projects-Sec-2 {
    height: 350px;
    width: 100vw;
    background-color: rgb(57, 3, 91);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr;
}

#projects-Sec-2 h2 {
    grid-column: 1/ -1;
    background-color: rgba(178, 18, 199, 0.406);
    width: 50%;
    margin: 5px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border-radius: 10px;
    border: 2px solid red;
    color: white;
    letter-spacing: 3px;
}

#projects-Sec-2 img {
    height: 240px;
    margin: auto;
}

#projects-Sec-2 .content {
    height: 220px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.209);
    border-radius: 10px;
    margin: auto;
    margin-left: 0;
    position: relative;
    padding: 10px;
    overflow: hidden;
}

#projects-Sec-2 .content .border {
    position: absolute;
    background-color: white;
}

#projects-Sec-2 .content .border:nth-child(1) {
    height: 3px;
    width: 100%;
    left: 0;
    top: 0;
}

#projects-Sec-2 .content .border:nth-child(2) {
    height: 3px;
    width: 60%;
    left: 0;
    bottom: 0;
}

#projects-Sec-2 .content .border:nth-child(3) {
    height: 100%;
    width: 3px;
    left: 0;
    top: 0;
}

#projects-Sec-2 .content .border:nth-child(4) {
    height: 80%;
    width: 3px;
    right: 0;
    top: 0;
}

#projects-Sec-2 .content .bttnSpace {
    background-color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    height: 30%;
    width: 50%;
    border-radius: 10px;
    background-color: rgb(57, 3, 91);
    border-top: 3px solid white;
    border-left: 3px solid white;
}

#projects-Sec-2 .content p {
    font-size: 1.8rem;
    color: black;
    justify-content: center;
}

#projects-Sec-2 .content .bttnSpace button {
    height: 85%;
    width: 95%;
    background-color: rgba(255, 255, 255, 0.209);
    backdrop-filter: blur(5px);
    margin: 2.5% 2.5%;
    border-radius: 10px;
    border: none;
    font-size: 2rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    border: 1px solid white;
    color: #222222;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.5s;

}

#projects-Sec-2 .content .bttnSpace button:hover {
    background-color: rgba(255, 255, 255, 0.457);
    color: black;
    letter-spacing: 5px;
    transition: all 0.5s;
}


@media (max-width: 767px){
    #projects-Sec-1 {
        height: 800px;
        width: 100vw;
    }

    #projects-Sec-1 h2 {
        height: 40px;
        width: 60%;
        font-size: 1.7rem;
    }
    
    #projects-Sec-1 .container {
        height: 80%;
        width: 95%;
        background: initial;
        border: initial;
    }
    
    #projects-Sec-1 .container span:nth-child(1),
    #projects-Sec-1 .container span:nth-child(2) {
        display: none;
    }
    
    #projects-Sec-1 .container span:nth-child(3) {
        display: none;
    }
    
    #projects-Sec-1 .container #Container-1,
    #projects-Sec-1 .container #Container-2 {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        height: 45%;
        width: 90%;
        margin: 0 5%;
        background: rgba(255, 255, 255, 0.244);
        backdrop-filter: blur(5px);
        border: 2px solid white;
        border-radius: 10px;
    }

    #projects-Sec-1 .container #Container-2{
        flex-direction: column-reverse;
        margin-top: 5%;
    }
    
    #projects-Sec-1 .container #Container-1 a,
    #projects-Sec-1 .container #Container-2 a {
        width: 80%;
        margin: 2% 0;
        border-radius: 10px;
    }
    
    
    #projects-Sec-1 .container #Container-1 a img,
    #projects-Sec-1 .container #Container-2 a img {
        height: 100%;
        width: 100%;
    }
    
    #projects-Sec-1 .container #Container-1 p,
    #projects-Sec-1 .container #Container-2 p {
        height: 60%;
        width: 90%;
        margin: 1% 1% 2% 1%;
        font-size: 0.6rem;
    }
    
    #projects-Sec-1 .container #Container-1 p {
        clip-path: none;
        padding: 1% 2%;
    }
    
    #projects-Sec-1 .container #Container-2 p {
        clip-path: none;
        padding: 1% 2%;
    }
    
    #projects-Sec-2 {
        height: 350px;
        width: 100vw;
    }
    
    #projects-Sec-2 h2 {
        width: 90%;
    }
    
    #projects-Sec-2 img {
        height: 180px;
        margin: auto;
    }
    
    #projects-Sec-2 .content {
        height: 180px;
        width: 90%;
        padding: 5px;
    }
    
    #projects-Sec-2 .content .bttnSpace {
        height: 25%;
        width: 60%;
    }
    
    #projects-Sec-2 .content p {
        font-size: 0.85rem;
    }
    
    #projects-Sec-2 .content .bttnSpace button {
        height: 85%;
        width: 95%;
        font-size: 1.3rem;
    }
}


/*Contact Section Styles Responsive Done*/

#contact {
    height: auto;
    width: 100vw;
    background: rgb(57, 3, 91);
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5% 10% 5% 10%;
}

#contact h3 {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 2rem;
    color: white;
    cursor: default;
    z-index: 2;
    margin-left: 5vw;
}

#contact h3::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 105%;
    height: 2px;
    width: 100%;
    background-color: white;
}
         
#TakeInput {
    height: 350px;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.247);
    backdrop-filter: blur(5px);
    margin-top: 20px;
}

#TakeInput input[type="text"]{
    height: 10%;
    width: 80%;
    background: transparent;
    border: none;
    border-bottom: 2px solid black;
    padding: 0 5px;
    outline: none;
    font-size: 1.5rem;
    color: white;
}

#TakeInput textarea {
    resize: none;
    height: 60%;
    width: 95%;
    border-radius: 5px;
    background-color: rgba(57, 3, 91, 0.318);
    border: 2px solid black;
    padding: 5px;
    outline: none;
    color: white;
}

::placeholder {
    font-size: 1rem;
    color: #222222;
}

#TakeInput button {
    height: 15%;
    width: 95%;
    border-radius: 5px;
    border: 2px solid rgb(57, 3, 91);
    outline: none;
    cursor: pointer;
    letter-spacing: 3px;
    font-size: 1.5rem;
    font-weight: 400;
    background: rgba(57, 3, 91, 0.607);
    color: white;
}

#contact img {
    height: 300px;
}

@media (max-width: 767px){
    #contact {
        flex-direction: column;
        padding: 0;
    }

    #TakeInput {
        height: 300px;
        width: 80%;
        margin-top: 20%;
    }

    #contact h3 {
        font-size: 1.8rem;
        margin-left: 1vw;
    }

    #TakeInput input[type="text"]{
        font-size: 1rem;
    }

    #contact img {
        height: 400px;
    }
}


/*Connect Section Responsive Done*/

#connect {
    height: auto;
    width: 100vw;
    background-color: rgb(57, 3, 91);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#connect #Conn-A,
#connect #Conn-B {
    width: 50vw;
}

#connect #Conn-A a,
#connect #Conn-B a {
    all: initial;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    height: 50px;
    margin: 5px 10%;
    background-color: rgba(255, 255, 255, 0.325);
    backdrop-filter: blur(5px);
    border-radius: 5px;
    border: 2px solid rgb(213, 204, 204);
    padding: 5px 0;
    color: #111111;
    letter-spacing: 2px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

#connect #Conn-A a:hover,
#connect #Conn-B a:hover {
    transform: translateY(-10px);
    transition: all 0.3s;
    border-color: white;
}

#connect #Conn-A a img,
#connect #Conn-B a img {
    height: 50px;
    width: 50px;
    margin-right: 5%;
}

#connect #Conn-A a p,
#connect #Conn-B a p {
    text-decoration: underline;
}


@media (max-width: 767px){
    #connect {
        flex-direction: column;
    }

    #connect #Conn-A,
    #connect #Conn-B {
        width: 90vw;
    }

    #connect #Conn-A a,
    #connect #Conn-B a {
        font-size: 1.2rem;
        margin: 10px 0;
    }

    #connect #Conn-A a img,
    #connect #Conn-B a img {
        height: 40px;
        width: 40px;
        margin-right: 5%;
    }
}


/*Footer Styles Responsive Done*/

footer {
    height: auto;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: rgb(57, 3, 91);
    padding-top: 50px;
}

footer a {
    all: initial;
}

footer .phone,
footer .mail,
footer .copyRight {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #dfd4d4;
}

footer .phone,
footer .mail {
    background-color: rgba(92, 28, 195, 0.35);
    backdrop-filter: blur(5px);
    transition: all 0.3s;
    cursor: pointer;
    width: 50%;
    margin-left: 25%;
    border-radius: 5px;
    margin-bottom: 20px;
    height: 40px;
    padding: 5px 10px;
    border: 2px solid rgb(152, 134, 134);
    font-weight: 400;
}

footer .phone:hover,
footer .mail:hover {
    transform: translateY(-5px);
    transition: all 0.5s;
    background-color: rgba(224, 210, 210, 0.5);
    color: #222222;
    letter-spacing: 1px;
}

footer .copyRight {
    grid-column: 1/-1;
    font-size: 1.2rem;
}

@media (max-width: 767px){
    footer {
        grid-template-rows: 1fr 1fr 1fr;
    }

    footer .phone,
    footer .mail {
        font-size: 1rem;
        grid-column: 1/-1;
        width: 90vw;
        margin: 5px auto;
    }

    footer .copyRight {
    font-size:0.81rem;
    padding: 8px 0;
}
}